@page
@model MyApp.Namespace.FormTagsModel
@{
}

<h1>Form Tags in HTML 5</h1>

<p>You can learn about the HTML Form Tags from Mozilla Developer Network.</p>

<h2>&lt;Input&gt; Tag</h2>


<h2>&lt;TextArea&gt; Tag</h2>


<h2>&lt;Select&gt; Tag</h2>


<h2>&lt;Button&gt; Tag</h2>


<h2>Other Tags</h2>

