@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Web</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <blockquote>
        @Model.Announcement
    </blockquote>
    <p><small>Content Root Path: <code>@Model.ContentRootPath</code></small></p>
    <p><small>Web Root Path: <code>@Model.WebRootPath</code></small></p>
</div>

