@page
@model ProductEditorModel
@{
}

<h1>Product Editor</h1>

<form method="post">
    <label>Product ID
        <input type="text" />
    </label>

    <label>Product Name
        <input type="text" />
    </label>

    <label>Supplier
        <select>
            <option value="0">[Pick a Supplier]</option>
        </select>
    </label>

    <label>Category
        <select>
            <option value="0">[Pick a Category]</option>
        </select>
    </label>

    <label>Quantity per Unit
        <input type="text" />
    </label>

    <label>Unit Price
        <input type="text" />
    </label>

    <label>Units on Order
        <input type="text" />
    </label>

    <label>Discontinued
        <input type="checkbox" /> Is Discontinued
    </label>
</form>